/* @font-face {
  src: url(fonts\Piedra\Piedra-Regular.ttf);
  font-family: piedra;
}
*/
@font-face {
    font-family: 'HotSweat';
    src: url(../fonts/hotsweat/HotSweat.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'SuezOne-Regular';
    src: url(../fonts/Suez_One/SuezOne-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face{
  font-family: 'Inlanders';
  src:url(../fonts/inlanders/InlandersDemo.otf);
  font-style: normal;
  font-weight: 100;
}

.pageheader{
   text-align: center;
   display: block;
   position: relative;
   font-family: hotsweat;
   font-weight: 100;
}

.headmlpokn1{
  font-size: 75px;
}
.headmlmlpokn1{
  font-size: 100px;
}


.style-box-kpjiz89{
  display: inline-block;
  background-color: #E4E5EE;
  font-size: 25px;
  text-align: center;
  height:50px;
  /* text-shadow: 1px 1px blue; */
  margin: auto;
  padding-top: 5px;
  font-family: Inlanders;
  color: :#F4EEEC;
}
.paddingkl{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #A19797;

}
 a:visited, a:link, a:active
{
    text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #706B6B;
}

.style-box-yxjyz44{
  background-color: #E4E5EE;

  font-size: 15px;
  text-align: center;
  padding-top: 12px;

}
.style-box-qhtrj61{
  background-color: #E4E5EE;

  font-size: 15px;
  text-align: center;
  padding-top: 12px;
}
.style-box-uhtynd87{
  background-color: #E4E5EE;

  font-size: 15px;
  text-align: center;
  padding-top: 12px;
}
.style-box-larg6g87{
  background-color: #E4E5EE;

  font-size: 15px;
  text-align: center;
  padding-top: 12px;
}
.slogynwimnimx01-nknknaksn{
  position: relative;
  display: inline-block;
  top: 50px;
  left:500px;
  width: 200px;
  height: 50px;
}
.slogynwimnimx01-jnklok{
  position: relative;

  left:10px;

  width: 150px;
  height: 50px;
}
.vl {
  border-left: 2px solid black;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
}
.img-plmko1{
  position: relative;
  display: inline;
  left: 45%;
  width: 150px;
  height: 130px;

}
